/* Global */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    line-height: 1.5;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.hide {
    display: none !important;
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    height: 4rem;
    min-height: 4rem;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar-item {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 1rem;
    position: relative;
    line-height: 1.5;
}

.navbar-item:hover {
    background-color: #f5f5f5;
}

.navbar > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80vw;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    max-height: 100%;
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
}

.navbar-brand-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.navbar-brand img {
    padding-right: 1rem;
    max-height: 2rem;
}

.navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
    margin-right: -1rem;
    max-height: 100%;
    height: 100%;
}

.navbar-end {
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    display: flex;
}

.navbar-item {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
}

/* Footer */
.footer {
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    height: 4.5rem;
    min-height: 4.5rem;
    padding: 2rem;
    background-color: #f5f5f5;
}

.footer > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80vw;
    flex-direction: column;
}

.footer a {
    color: grey;
    text-decoration: underline;
    transition: 0.15s ease all;
}

.footer a:hover {
    background-color: dimgray;
    color: white;
    padding: 2px;
}

.footer p {
    margin: 2px;
}

/* Columns / Rows */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    max-width: 100%;
}

/* Homepage */
.search-container {
    width: 100%;
}

.search-container form {
    width: 100%;
    position: relative;
    display: flex;
}

.search-container input[type="text"] {
    width: 100%;
    border: 3px solid #009879;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-size: 22px;
}

.search-container input[type="text"]:focus{
    color: #009879;
}

.search-button {
    width: 40px;
    border: 1px solid #009879;
    background: #009879;
    text-align: center;
    fill: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* Card View */
.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    max-width: 30rem;
    transition: 0.15s ease all;
}

.card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    scale: 1.05;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.card-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 5px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
}

.card-info p {
    margin: 1rem 0;
}

/* Card Table */
.cards-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 75%;
    margin-bottom: 1rem;
}

.cards-table table {
    border-collapse: collapse;
    width: 100%;
}

.cards-table th, td {
    text-align: left;
    padding: 8px;
}

.cards-table tr:nth-child(even){background-color: #f2f2f2}

.cards-table th {
    background-color: #009879;
    color: white;
}

.cards-table th:nth-child(2), th:nth-child(3), th:nth-child(4) {
    cursor: pointer;
}

.cards-table th[data-sort]::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    float: right;
    margin-right: 1rem;
}

.cards-table th[data-sort="asc"]:after {
    content: "\25B2";
}
.cards-table th[data-sort="desc"]:after {
    content: "\25BC";
}

.cards-table tr:hover {background-color: #ddd;}

.cards-table img {
    width: auto;
    height: 5rem;
    object-fit: cover;
    border-radius: 5px;
}

.view-button {
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.15s ease all;
    text-decoration: none;
}

.view-button:hover {
    background-color: #007a5f;
}

/* Options / Controls Section */
.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
}

select {
    border: 1px solid #009879;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

/* Pagination */
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #009879;
    color: white;
    border: 1px solid #009879;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

